:root {
  --bs-primary: #f4623a;
}

body {
  background-color: #323232;
  color: #ddd;
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: "Merriweather Sans", sans-serif;
}

/* .container {
  background-color: #ddd;
  color: #323232;
}

.section-title {
  text-align: center;
}
*/

.divider {
  border-radius: 1rem;
  border: none;
  background-color: var(--bs-primary);
  height: 0.2rem;
  width: 5%;
}
